<h1>MIDAS SSO User</h1>
<h2><%= notice %></h2>
<%= link_to(@sso_user.person.name, @sso_user.person) %>
<ul>
  <li>
    <strong>Username:</strong>
    <%= @sso_user.username %>
  </li>
  <li>
    <strong>Authorisations:</strong>
    <% if @sso_user.sso_user_authorisations.empty? %>
      None
    <% else %>
      <ul>
        <% @sso_user.sso_user_authorisations.each do |auth| %>
          <li>
            <%= auth.description %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </li>
</ul>

<%= link_to "Edit MIDAS SSO User", edit_sso_user_path(@sso_user) %>
<br>
<%= link_to "Delete MIDAS SSO User", sso_user_path(@sso_user), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>
